TOPIC: String Based Assignment Problem

In [1]:
'''1. Write a program to reverse a string.'''

input_str = input('Enter a string:')
reverse_input_str = input_str[::-1]
print('Reverse order: ',reverse_input_str)

Enter a string: Amiya is best

Reverse order:  tseb si ayimA

In [4]:
'''2. Check if a string is a palindrome.'''

input_str = input('Enter a string:')
is_palidrome = False
if input_str == input_str[::-1]:
    is_palidrome = True
print('Is entered string palindrome:', is_palidrome)

Enter a string: amiya

Is entered string palindrome: False

In [6]:
'''3. Convert a string to uppercase.'''

input_str = input('Enter a string:')
print("Uppercase of input string: ",input_str.upper())

Enter a string: Amiya

Uppercase of input string:  AMIYA

In [6]:
'''4. Convert a string to lowercase.'''

input_str = input('Enter a string:')
print("Uppercase of input string: ",input_str.lower())

Enter a string: Amiya is best

Uppercase of input string:  amiya is best

In [7]:
'''5. Count the number of vowels in a string.'''

user_input = input('Enter a sentence:')
no_of_vowels = 0
for i in user_input: # iterate over each character
    if i.lower() in ('a','e','i','o','u'): # check for vowels
        no_of_vowels = no_of_vowels + 1
print('Number of vowels in the statement =', no_of_vowels)

Enter a sentence: Amiya

Number of vowels in the statement = 3

In [8]:
'''6. Count the number of consonants in a string.'''

user_input = input('Enter a sentence:')
no_of_consonants = 0
for i in user_input: # iterate over each character
    if i.lower() not in ('a','e','i','o','u'): # check for vowels
        no_of_consonants = no_of_consonants + 1
print('Number of consonants in the statement =', no_of_consonants)

Enter a sentence: Amiya

Number of consonants in the statement = 2

In [9]:
'''7. Remove all whitespaces from a string.'''

input_str = input('Enter a string:')
modified_str = input_str.replace(' ','')
print('Modified string: '+modified_str)

Enter a string:  Amiya is best

Modified string: Amiyaisbest

In [11]:
'''8. Find the length of a string without using the `len()` function.'''

input_str = input('Enter a string:')
length_user_input = 0
for i in input_str:
    length_user_input += 1
print("Length of the user's input string: "+str(length_user_input))

Enter a string: Amiya is best

Length of the user's input string: 13

In [15]:
'''9. Check if a string contains a specific word.'''

complete_str = "Amiya is best"
check_str = "Amiya"
check_word = False
if check_str in complete_str:
    check_word = True
print("Is specific word present: "+str(check_word))

Is specific word present: True

In [17]:
'''10. Replace a word in a string with another word.'''

input_str = "Amiya is best"
replace_word = "Amiya Pani"
modified_str = input_str.replace('Amiya',replace_word)
print("Modified string: "+str(modified_str))

Modified string: Amiya Pani is best

In [18]:
"""11. Count the occurrences of a word in a string."""

input_str = "I am student. I love programming. Also i love playing football."
word = 'love'

occurrences = input_str.lower().count(word.lower())
print(f"The word '{word}' appears {occurrences} times.")

The word 'love' appears 2 times.

In [20]:
"""12. Find the first occurrence of a word in a string."""

input_str = "I am student. I love programming. Also i love playing football."
word = 'love'
first_occurrence = input_str.find(word)
print(f"The word '{word}' appears at {first_occurrence} index first time.")

The word 'love' appears at 16 index first time.
16

In [21]:
"""13. Find the last occurrence of a word in a string."""

input_str = "I am student. I love programming. Also i love playing football."
word = 'love'
last_occurrence = input_str.rfind(word)
print(f"The word '{word}' appears at {last_occurrence} index last time.")

The word 'love' appears at 41 index last time.

In [23]:
"""14. Split a string into a list of words."""

sentence = "Amiya is best"
word_list = sentence.split(" ") #without the parameter in the split it can be done too
print(f"{word_list}")

['Amiya', 'is', 'best']

In [24]:
"""15. Join a list of words into a string."""

word_list = ['Amiya', 'is', 'best']
sentence = " ".join(word_list)
print(f"{sentence}")

Amiya is best

In [26]:
"""16. Convert a string where words are separated by spaces to one where words are separated by underscores."""

sentence = "Amiya is best"
modified_str = sentence.replace(' ','_')
print("Modified string: "+str(modified_str))

Modified string: Amiya_is_best

In [28]:
"""17. Check if a string starts with a specific word or phrase."""

sentence = "Amiya is best"
postive_case = sentence.startswith("Amiya")
negative_case = sentence.startswith("Arnold")
print(f"Does the sentence starts with Amiya: {postive_case}")
print(f"Does the sentence starts with Arnold: {negative_case}")

Does the sentence starts with Amiya: True
Does the sentence starts with Arnold: False

In [29]:
"""18. Check if a string ends with a specific word or phrase."""

sentence = "Amiya is best"
postive_case = sentence.endswith("best")
negative_case = sentence.endswith("awesome")
print(f"Does the sentence ends with best: {postive_case}")
print(f"Does the sentence ends with awesome: {negative_case}")

Does the sentence ends with best: True
Does the sentence ends with awesome: False

In [30]:
'''19. Convert a string to title case (e.g., "hello world" to "Hello World").'''

input_str = input('Enter a string:')
modified_str = input_str.title()
print('Title case of the provided input: '+modified_str)

Enter a string: Amiya is best

Title case of the provided input: Amiya Is Best

In [41]:
'''20. Find the longest word in a string.'''

sentence = "Amiya is best. Amiya likes toplay football and chess"
words = sentence.split()

longest_word = max(words, key=len)
print(f"'{longest_word}' is the longest word in the string")

'football' is the longest word in the string

In [42]:
'''21. Find the shortest word in a string.'''

sentence = "Amiya is best. Amiya likes toplay football and chess"
words = sentence.split()

shortest_word = min(words, key=len)
print(f"'{shortest_word}' is the shortest word in the string")

'is' is the shortest word in the string

In [47]:
'''22. Reverse the order of words in a string.'''

sentence = "Amiya is best. Amiya likes toplay football and chess"
words = sentence.split()
words = words[::-1]
reverse_order = " ".join(words)
print(f"Reverse order of words = {reverse_order}")

Reverse order of words = chess and football toplay likes Amiya best. is Amiya

In [58]:
'''23. Check if a string is alphanumeric.'''

sentence = "Amiya1"
print(f"string is alphanumeric: {sentence.isalnum()}")

string is alphanumeric: True

In [88]:
'''24. Extract all digits from a string.'''

sentence = "Amiya1 is best12 4"
digits = ''.join([char for char in sentence if char.isdigit()])
        
print(f"Digits in the string are: {digits}")

Digits in the string are: 1124

In [89]:
'''25. Extract all alphabets from a string.'''

text = "Hello 123, this is year 2024 with #symbols!"
alphabets = ''.join([char for char in text if char.isalpha()])
print(f"Alphabetic characters extracted from the string: {alphabets}")

Alphabetic characters extracted from the string: Hellothisisyearwithsymbols

In [90]:
'''26. Count the number of uppercase letters in a string.'''

text = "Hello World! This Is An EXAMPLE of Uppercase Letters."
uppercase_count = sum(1 for char in text if char.isupper())
print(f"Number of uppercase letters in the string: {uppercase_count}")

Number of uppercase letters in the string: 14

In [91]:
'''27. Count the number of lowercase letters in a string.'''

text = "Hello World! This Is An EXAMPLE of Uppercase Letters."
lowercase_count = sum(1 for char in text if char.islower())
print(f"Number of lowercase letters in the string: {lowercase_count}")

Number of lowercase letters in the string: 29

In [92]:
'''28. Swap the case of each character in a string.'''

text = "Hello World! This Is An EXAMPLE of Case Swapping."
swapped_text = text.swapcase()
print(f"Original text: {text}")
print(f"Swapped case text: {swapped_text}")

Original text: Hello World! This Is An EXAMPLE of Case Swapping.
Swapped case text: hELLO wORLD! tHIS iS aN example OF cASE sWAPPING.

In [93]:
'''29. Remove a specific word from a string.'''

text = "This is a sample text with a word to remove."
word_to_remove = "remove"
cleaned_text = text.replace(word_to_remove, "")

print(f"Original text: {text}")
print(f"Cleaned text: {cleaned_text}")

Original text: This is a sample text with a word to remove.
Cleaned text: This is a sample text with a word to .

In [103]:
'''30. Check if a string is a valid email address.'''
import re
email_pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

def is_valid_email(email):
    if re.match(email_pattern, email):
        return True
    else:
        return False

email = "eramiyap@gmail.com"
print(f"'{email}' is a valid email address: {is_valid_email(email)}")

email = "not-an-email"
print(f"'{email}' is a valid email address: {is_valid_email(email)}")

'eramiyap@gmail.com' is a valid email address: True
'not-an-email' is a valid email address: False

In [106]:
'''31. Extract the username from an email address string.'''

email = "eramiyap@gmail.com"
username = email.split('@')[0]

print(f"Username: {username}")

Username: eramiyap

In [107]:
'''32. Extract the domain name from an email address string.'''

email = "eramiyap@gmail.com"
domain_name = email.split('@')[1]

print(f"Domain name: {domain_name}")

Domain name: gmail.com

In [108]:
'''33. Replace multiple spaces in a string with a single space.'''
import re
string_with_spaces = "This    is  a  string with   multiple      spaces."
cleaned_string = re.sub(r'\s+', ' ', string_with_spaces)

print(cleaned_string)

This is a string with multiple spaces.

In [110]:
'''34. Check if a string is a valid URL.'''
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except:
        return False

url = "https://www.google.com"
print(f"'{url}' is a valid URL: {is_valid_url(url)}")

url = "not-a-valid-url"
print(f"'{url}' is a valid URL: {is_valid_url(url)}")

'https://www.google.com' is a valid URL: True
'not-a-valid-url' is a valid URL: False

In [112]:
'''35. Extract the protocol (http or https) from a URL string.'''
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme


url = "https://www.google.com"
protocol = extract_protocol(url)
print(f"The protocol of '{url}' is: {protocol}")

url = "http://google.org"
protocol = extract_protocol(url)
print(f"The protocol of '{url}' is: {protocol}")

The protocol of 'https://www.google.com' is: https
The protocol of 'http://google.org' is: http

In [113]:
'''36. Find the frequency of each character in a string.'''
def character_frequency(string):
    frequency = {}
    for char in string:
        frequency[char] = frequency.get(char, 0) + 1
    return frequency

string = "hello world"
char_freq = character_frequency(string)
print("Character frequencies:")
for char, freq in char_freq.items():
    print(f"'{char}': {freq}")

Character frequencies:
'h': 1
'e': 1
'l': 3
'o': 2
' ': 1
'w': 1
'r': 1
'd': 1

In [114]:
'''37. Remove all punctuation from a string.'''
import string

def remove_punctuation(text):
    punctuation_chars = string.punctuation
    text_without_punctuation = ""
    
    for char in text:
        if char not in punctuation_chars:
            text_without_punctuation += char            
    return text_without_punctuation

text_with_punctuation = "Hello! This is a test string, with some punctuation. Isn't it great?"
text_without_punctuation = remove_punctuation(text_with_punctuation)
print("Text without punctuation:", text_without_punctuation)

Text without punctuation: Hello This is a test string with some punctuation Isnt it great

In [115]:
'''38. Check if a string contains only digits.'''

def contains_only_digits(text):
    return text.isdigit()

text1 = "12345"
print(f"'{text1}' contains only digits: {contains_only_digits(text1)}")

text2 = "123abc"
print(f"'{text2}' contains only digits: {contains_only_digits(text2)}")

'12345' contains only digits: True
'123abc' contains only digits: False

In [116]:
'''39. Check if a string contains only alphabets.'''

def contains_only_alphabets(text):
    return text.isalpha()

text1 = "abcdef"
print(f"'{text1}' contains only alphabets: {contains_only_alphabets(text1)}")

text2 = "abc123"
print(f"'{text2}' contains only alphabets: {contains_only_alphabets(text2)}")

'abcdef' contains only alphabets: True
'abc123' contains only alphabets: False

In [117]:
'''40. Convert a string to a list of characters.'''
text = "hello"
char_list = list(text)
print("List of characters:", char_list)

List of characters: ['h', 'e', 'l', 'l', 'o']

In [119]:
'''41. Check if two strings are anagrams.'''
def are_anagrams(string1, string2):
    string1 = string1.replace(" ", "").lower()
    string2 = string2.replace(" ", "").lower()
    
    return sorted(string1) == sorted(string2)

string1 = "listen"
string2 = "silent"
print(f"'{string1}' and '{string2}' are anagrams: {are_anagrams(string1, string2)}")

string1 = "hello"
string2 = "world"
print(f"'{string1}' and '{string2}' are anagrams: {are_anagrams(string1, string2)}")

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [120]:
'''42. Encode a string using a Caesar cipher.'''
def caesar_cipher(text, shift):
    encoded_text = ""

    for char in text:
        if char.isupper():
            encoded_char = chr((ord(char) - 65 + shift) % 26 + 65)
        elif char.islower():
            encoded_char = chr((ord(char) - 97 + shift) % 26 + 97)
        else:
            encoded_char = char
        encoded_text += encoded_char
    return encoded_text

plaintext = "Hello, World!"
shift = 3
encoded_text = caesar_cipher(plaintext, shift)
print("Encoded text:", encoded_text)

Encoded text: Khoor, Zruog!

In [121]:
'''43. Decode a Caesar cipher encoded string.'''
def caesar_decipher(encoded_text, shift):
    decoded_text = ""

    for char in encoded_text:
        if char.isupper():
            decoded_char = chr((ord(char) - 65 - shift) % 26 + 65)
        elif char.islower():
            decoded_char = chr((ord(char) - 97 - shift) % 26 + 97)
        else:
            decoded_char = char
        decoded_text += decoded_char

    return decoded_text

encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_decipher(encoded_text, shift)
print("Decoded text:", decoded_text)

Decoded text: Hello, World!

In [122]:
'''44. Find the most frequent word in a string.'''
def most_frequent_word(text):
    words = text.split()
    
    word_freq = {}
    
    for word in words:
        word_freq[word] = word_freq.get(word, 0) + 1
    
    most_frequent_word = max(word_freq, key=word_freq.get)
    
    return most_frequent_word

text = "the quick brown fox jumps over the lazy dog the quick brown fox"
most_frequent = most_frequent_word(text)
print("Most frequent word:", most_frequent)

Most frequent word: the

In [124]:
'''45. Find all unique words in a string.'''
def unique_words(text):
    words = text.split()
    unique_words_set = set(words)
    return unique_words_set

text = "the quick brown fox jumps over the lazy dog the quick brown fox"
unique_words_set = unique_words(text)
print("Unique words:", unique_words_set)

Unique words: {'dog', 'the', 'fox', 'jumps', 'over', 'brown', 'lazy', 'quick'}

In [126]:
'''46. Count the number of syllables in a string.'''
def count_syllables(text):
    text = text.lower()
    vowels = {'a', 'e', 'i', 'o', 'u'}
    num_vowels = sum(text.count(vowel) for vowel in vowels)
    return num_vowels

text = "Hello, World!"
num_syllables = count_syllables(text)
print("Number of syllables:", num_syllables)

Number of syllables: 3

In [127]:
'''47. Check if a string contains any special characters.'''
import string

def contains_special_characters(text):
    special_characters = set(string.punctuation)
    
    for char in text:
        if char in special_characters:
            return True
    return False

text = "Hello, World!"
contains_special = contains_special_characters(text)
print("Contains special characters:", contains_special)

text = "Hello World"
contains_special = contains_special_characters(text)
print("Contains special characters:", contains_special)

Contains special characters: True
Contains special characters: False

In [128]:
'''48. Remove the nth word from a string.'''
def remove_nth_word(text, n):
    words = text.split()
    if n < 0 or n >= len(words):
        return "Invalid index"
    del words[n]
    updated_text = ' '.join(words)
    return updated_text

text = "This is a test string"
n = 2
updated_text = remove_nth_word(text, n)
print("Updated text:", updated_text)

Updated text: This is test string

In [130]:
'''49. Insert a word at the nth position in a string.'''
def insert_word_at_nth_position(text, word, n):
    words = text.split()
    if n < 0 or n > len(words):
        return "Invalid index"
    words.insert(n, word)
    updated_text = ' '.join(words)
    return updated_text

text = "This is a test string"
word_to_insert = "new"
n = 2
updated_text = insert_word_at_nth_position(text, word_to_insert, n)
print("Updated text:", updated_text)

Updated text: This is new a test string

In [131]:
'''50. Convert a CSV string to a list of lists.'''
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    rows = []
    csv_file = StringIO(csv_string)
    csv_reader = csv.reader(csv_file)
    for row in csv_reader:
        rows.append(row)
    return rows

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
list_of_lists = csv_string_to_list(csv_string)
print("List of lists:", list_of_lists)

List of lists: [['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

List Based Practice Problem :

In [97]:
'''1. Create a list with integers from 1 to 10.'''

integer_list = list(range(1, 11))
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
'''2. Find the length of a list without using the `len()` function.'''

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_length = sum(1 for _ in integer_list)

print(f"length is {list_length}")

length is 10

In [104]:
'''3. Append an element to the end of a list.'''

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
integer_list.append(11)

print(f"Updated list: {integer_list}")

Updated list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [105]:
'''4. Insert an element at a specific index in a list.'''

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
integer_list.insert(5, 99)

print(f"Updated list: {integer_list}")

Updated list: [1, 2, 3, 4, 5, 99, 6, 7, 8, 9, 10, 11]

In [106]:
"""5. Remove an element from a list by its value."""

integer_list = [1, 2, 3, 4, 5, 99, 6, 7, 8, 9, 10, 11]
integer_list.remove(99)

print(f"Updated list: {integer_list}")

Updated list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [107]:
"""6. Remove an element from a list by its index."""

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
removed_element = integer_list.pop(5)

print(f"Updated list: {integer_list}")

Updated list: [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

In [111]:
"""7. Check if an element exists in a list."""

integer_list = [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]
element_to_check = 7
element_exists = element_to_check in integer_list

print(f"Is {element_to_check} present in {integer_list}?: {element_exists}")

Is 7 present in [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]?: True

In [112]:
"""8. Find the index of the first occurrence of an element in a list."""

integer_list = [1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 7]
element_to_find = 7
first_occurrence_index = integer_list.index(element_to_find)

print(first_occurrence_index)

5

In [113]:
"""9. Count the occurrences of an element in a list."""

integer_list = [1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 7]
element_to_count = 7
occurrences = integer_list.count(element_to_count)

print(occurrences)

2

In [114]:
"""10. Reverse the order of elements in a list."""

integer_list = [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]
integer_list.reverse()

print(integer_list)

[11, 10, 9, 8, 7, 5, 4, 3, 2, 1]

In [2]:
"""11. Sort a list in ascending order."""

integer_list = [2, 10, 4, 5, 1, 8, 2, 0, 11]
print(f"Before sort: {integer_list}")
integer_list.sort()

print(f"After sort: {integer_list}")

Before sort: [2, 10, 4, 5, 1, 8, 2, 0, 11]
After sort: [0, 1, 2, 2, 4, 5, 8, 10, 11]

In [3]:
"""12. Sort a list in descending order."""

integer_list = [2, 10, 4, 5, 1, 8, 2, 0, 11]
print(f"Before sort: {integer_list}")
integer_list.sort(reverse=True)

print(f"After sort: {integer_list}")

Before sort: [2, 10, 4, 5, 1, 8, 2, 0, 11]
After sort: [11, 10, 8, 5, 4, 2, 2, 1, 0]

In [7]:
"""13. Create a list of even numbers from 1 to 20."""

even_integer_list = list(range(2,21,2))
print(f"list of even numbers from 1 to 20: {even_integer_list}")

list of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
"""14. Create a list of odd numbers from 1 to 20."""

odd_integer_list = list(range(1,20,2))
print(f"list of odd numbers from 1 to 20: {odd_integer_list}")

list of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
"""15. Find the sum of all elements in a list."""

integer_list = list(range(1,11))
sum_integer_list = sum(integer_list)
print(f"sum of all elements in {integer_list}: {sum_integer_list}")

sum of all elements in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]: 55

In [10]:
"""16. Find the maximum value in a list."""

integer_list = list(range(1,11))
max_integer = max(integer_list)
print(f"Max of all elements in {integer_list}: {max_integer}")

Max of all elements in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]: 10

In [11]:
"""17. Find the minimum value in a list."""

integer_list = list(range(1,11))
min_integer = min(integer_list)
print(f"Min of all elements in {integer_list}: {min_integer}")

Min of all elements in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]: 1

In [13]:
"""18. Create a list of squares of numbers from 1 to 10."""

integer_list = list(range(1,11))
square_list = list()
for i in integer_list:
    square_list.append(i**2)
    
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
"""19. Create a list of random numbers."""

import random
random_numbers_list = [random.randint(1, 100) for _ in range(10)]

print(random_numbers_list)

[3, 88, 48, 83, 23, 51, 9, 68, 18, 29]

In [18]:
"""20. Remove duplicates from a list."""

list_with_duplicates = [67, 83, 24, 27, 62, 86, 100, 27, 99, 65, 67, 83, 24]
list_without_duplicates = list(set(list_with_duplicates))

print(f"With duplicates: {list_with_duplicates}")
print(f"Without duplicates: {list_without_duplicates}")

With duplicates: [67, 83, 24, 27, 62, 86, 100, 27, 99, 65, 67, 83, 24]
Without duplicates: [65, 67, 100, 99, 83, 86, 24, 27, 62]

In [19]:
"""21. Find the common elements between two lists."""

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = list(set(list1) & set(list2))

print(common_elements)

[4, 5]

In [20]:
"""22. Find the difference between two lists."""

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
difference_elements = list(set(list1) - set(list2))

print(difference_elements)

[1, 2, 3]

In [21]:
"""23. Merge two lists."""

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [22]:
"""24. Multiply all elements in a list by 2."""

list1 = [1, 2, 3, 4, 5]
updated_list = [i*2 for i in list1]
print(updated_list)

[2, 4, 6, 8, 10]

In [23]:
"""25. Filter out all even numbers from a list."""

list_with_evens = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [element for element in list_with_evens if element % 2 != 0]

print(filtered_list)

[1, 3, 5, 7, 9]

In [49]:
"""26. Convert a list of strings to a list of integers."""

list_of_strings = ["1", "2", "3", "4", "5"]
list_of_integers = [int(element) for element in list_of_strings]

print(list_of_integers)

[1, 2, 3, 4, 5]

In [50]:
"""27. Convert a list of integers to a list of strings."""

list_of_integers = [1, 2, 3, 4, 5]
list_of_strings = [str(element) for element in list_of_integers]

print(list_of_strings)

['1', '2', '3', '4', '5']

In [54]:
"""28. Flatten a nested list."""

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9], [10]]
flattened_list=list()
for sublist in nested_list:
    flattened_list.extend(sublist)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
"""29. Create a list of the first 10 Fibonacci numbers."""

fibonacci_list = [0, 1]
for _ in range(8):
    fibonacci_list.append(fibonacci_list[-1] + fibonacci_list[-2])

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [67]:
"""30. Check if a list is sorted."""

list_to_check_again = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
is_sorted_again = list_to_check_again == sorted(list_to_check_again)

print(f"Is the list sorted: {is_sorted_again}")

Is the list sorted: True

In [68]:
"""31. Rotate a list to the left by `n` positions."""
list_to_rotate = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3
rotated_list = list_to_rotate[n:] + list_to_rotate[:n]

print(rotated_list)

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [70]:
"""32. Rotate a list to the right by `n` positions."""
list_to_rotate = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3
rotated_list = list_to_rotate[-n:] + list_to_rotate[:-n] 

print(rotated_list)

[8, 9, 10, 1, 2, 3, 4, 5, 6, 7]

In [72]:
"""33. Create a list of prime numbers up to 50."""
def is_prime_simple(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

prime_numbers_up_to_50_simple = [n for n in range(2, 51) if is_prime_simple(n)]

print(prime_numbers_up_to_50_simple)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [73]:
"""34. Split a list into chunks of size `n`."""
list_to_split = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

chunk_size = 3

chunks = [list_to_split[i:i + chunk_size] for i in range(0, len(list_to_split), chunk_size)]

print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [74]:
"""35. Find the second largest number in a list."""
numbers_list = [10, 20, 4, 45, 99, 23, 45]

unique_numbers = sorted(set(numbers_list), reverse=True)
second_largest_number = unique_numbers[1]

print(second_largest_number)

45

In [80]:
"""36. Replace every element in a list with its square."""
numbers_list = [1, 2, 3, 4, 5]

for index, elem in enumerate(numbers_list):
    numbers_list[index]=elem**2

print(numbers_list)

[1, 4, 9, 16, 25]

In [83]:
"""37. Convert a list to a dictionary where list elements become keys and their
indices become values."""

elements_list = ['a', 'b', 'c', 'd', 'e']
list_to_dict=dict()
for index, elem in enumerate(elements_list):
    list_to_dict[elem]=index

print(list_to_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [84]:
"""38. Shuffle the elements of a list randomly."""
import random

list_to_shuffle = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(list_to_shuffle)

print(list_to_shuffle)

[2, 6, 4, 5, 10, 8, 7, 9, 1, 3]

In [89]:
"""39. Create a list of the first 10 factorial numbers."""

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
factorial_numbers = [factorial(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [90]:
"""40. Check if two lists have at least one element in common."""

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
has_common_element = bool(set(list1) & set(list2))

print(has_common_element)

True

In [91]:
"""41. Remove all elements from a list."""
list_with_elements = [1, 2, 3, 4, 5]
list_with_elements.clear()

print(list_with_elements)

[]

In [93]:
"""42. Replace negative numbers in a list with 0."""
numbers_list = [-1, 2, -3, 4, -5, 6]
replaced_list = [0 if x < 0 else x for x in numbers_list]

print(replaced_list)

[0, 2, 0, 4, 0, 6]

In [94]:
"""43. Convert a string into a list of words."""
string_to_convert = "This is a sample string to convert into a list of words."
words_list = string_to_convert.split()

print(words_list)

['This', 'is', 'a', 'sample', 'string', 'to', 'convert', 'into', 'a', 'list', 'of', 'words.']

In [95]:
"""44. Convert a list of words into a string."""
words_list = ['This', 'is', 'a', 'sample', 'string', 'to', 'convert', 'into', 'a', 'string.']
converted_string = ' '.join(words_list)

print(converted_string)

This is a sample string to convert into a string.

In [96]:
"""45. Create a list of the first `n` powers of 2."""
n = 10
powers_of_2 = [2**i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [97]:
"""46. Find the longest string in a list of strings."""
strings_list = ["short", "medium length", "the longest string in the list", "longer"]
longest_string = max(strings_list, key=len)

print(longest_string)

the longest string in the list

In [98]:
"""47. Find the shortest string in a list of strings."""
strings_list = ["short", "medium length", "the longest string in the list", "longer"]
shortest_string = min(strings_list, key=len)

print(shortest_string)

short

In [100]:
"""48. Create a list of the first `n` triangular numbers."""
n = 10

def triangular_number(n):
    return n * (n + 1) // 2

triangular_numbers = [triangular_number(i) for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [101]:
"""49. Check if a list contains another list as a subsequence."""
def is_subsequence(main_list, subsequence):
    sub_idx = 0
    for item in main_list:
        if sub_idx == len(subsequence):
            break
        if item == subsequence[sub_idx]:
            sub_idx += 1
    return sub_idx == len(subsequence)

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [1, 3, 5, 7]

contains_subsequence = is_subsequence(main_list, subsequence)
print(f"Is subsequence: {contains_subsequence}")

Is subsequence: True

In [102]:
"""50. Swap two elements in a list by their indices."""
list_to_swap = [10, 20, 30, 40, 50]
index1, index2 = 1, 3
list_to_swap[index1], list_to_swap[index2] = list_to_swap[index2], list_to_swap[index1]

print(list_to_swap)

[10, 40, 30, 20, 50]

Tuple Based Practice Problem :

In [138]:
"""1. Create a tuple with integers from 1 to 5."""

tuple_integers = tuple(list(range(1,6)))
print(tuple_integers)

(1, 2, 3, 4, 5)

In [139]:
"""2. Access the third element of a tuple."""

tuple_integers = (1, 2, 3, 4, 5)
third_element = tuple_integers[2]
print("Third element:", third_element)

Third element: 3

In [140]:
"""3. Find the length of a tuple without using the `len()` function."""
def tuple_length(tuple):
    count = 0
    for _ in tuple:
        count += 1
    return count

tuple_integers = (1, 2, 3, 4, 5)
length = tuple_length(tuple_integers)
print("Length of tuple:", length)

Length of tuple: 5

In [141]:
"""4. Count the occurrences of an element in a tuple."""

tuple_integers = (1, 2, 3, 4, 5, 3, 3)
element_to_count = 3
occurrences = tuple_integers.count(element_to_count)
print("Occurrences of", element_to_count, "in tuple:", occurrences)

Occurrences of 3 in tuple: 3

In [145]:
"""5. Find the index of the first occurrence of an element in a tuple."""

tuple_integers = (1, 2, 3, 4, 5, 3, 3)
element_to_find = 3

index = tuple_integers.index(element_to_find)
print("Index of the first occurrence of", element_to_find, ":", index)

Index of the first occurrence of 3 : 2

In [148]:
"""6. Check if an element exists in a tuple."""

my_tuple = (1, 2, 3, 4, 5)
element_to_check = 5

if element_to_check in my_tuple:
    print("Element", element_to_check, "exists in the tuple.")
else:
    print("Element", element_to_check, "does not exist in the tuple.")

Element 5 exists in the tuple.

In [149]:
"""7. Convert a tuple to a list."""
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [152]:
"""8. Convert a list to a tuple."""
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [154]:
"""9. Unpack the elements of a tuple into variables."""

full_name = ('Amiya', 'Pani')
first_name, last_name = full_name
print(first_name)
print(last_name)

Amiya
Pani

In [157]:
"""10. Create a tuple of even numbers from 1 to 10."""
even_tuple = tuple(range(2,11,2))
print(even_tuple)

(2, 4, 6, 8, 10)

In [159]:
"""11. Create a tuple of odd numbers from 1 to 10."""
odd_tuple = tuple(range(1,10,2))
print(odd_tuple)

(1, 3, 5, 7, 9)

In [160]:
"""12. Concatenate two tuples."""
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [161]:
"""13. Repeat a tuple three times."""
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [162]:
"""14. Check if a tuple is empty."""
empty_tuple = ()

if len(empty_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [163]:
"""15. Create a nested tuple."""
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [164]:
"""16. Access the first element of a nested tuple."""
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

first_element = nested_tuple[0][0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: 1

In [165]:
"""17. Create a tuple with a single element."""
single_element_tuple = (1,)
print(single_element_tuple)

(1,)

In [169]:
"""18. Compare two tuples."""
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
elif tuple1 == tuple2:
    print("tuple1 is equal to tuple2")
else:
    print("tuple1 is greater than tuple2")

tuple1 is less than tuple2

In [171]:
"""19. Delete a tuple."""
my_tuple = (1, 2, 3, 4, 5)
print("Before deletion:", my_tuple)

del my_tuple

try:
    print("After deletion:", my_tuple)
except NameError as e:
    print("Error:", e)

Before deletion: (1, 2, 3, 4, 5)
Error: name 'my_tuple' is not defined

In [173]:
"""20. Slice a tuple."""
my_tuple = (1, 2, 3, 4, 5)

slice1 = my_tuple[1:3]
print("Slice 1:", slice1)

slice2 = my_tuple[:3]
print("Slice 2:", slice2)

Slice 1: (2, 3)
Slice 2: (1, 2, 3)

In [174]:
"""21. Find the maximum value in a tuple."""
my_tuple = (3, 7, 2, 9, 5)
max_value = max(my_tuple)

print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 9

In [175]:
"""22. Find the minimum value in a tuple."""
my_tuple = (3, 7, 2, 9, 5)
min_value = min(my_tuple)

print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 2

In [176]:
"""23. Convert a string to a tuple of characters."""
my_string = "hello"
tuple_of_characters = tuple(my_string)

print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('h', 'e', 'l', 'l', 'o')

In [177]:
"""24. Convert a tuple of characters to a string."""
tuple_of_characters = ('h', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(tuple_of_characters)

print("String from tuple:", string_from_tuple)

String from tuple: hello

In [178]:
"""25. Create a tuple from multiple data types."""
mixed_tuple = (1, "hello", 3.14, True)

print("Mixed tuple:", mixed_tuple)

Mixed tuple: (1, 'hello', 3.14, True)

In [179]:
"""26. Check if two tuples are identical."""
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [181]:
"""27. Sort the elements of a tuple."""
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Convert the tuple to a list, sort the list, and then convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [182]:
"""28. Convert a tuple of integers to a tuple of strings."""
tuple_of_integers = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(i) for i in tuple_of_integers)

print("Tuple of integers:", tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

In [184]:
"""29. Convert a tuple of strings to a tuple of integers."""
tuple_of_strings = ('1', '2', '3', '4', '5')

tuple_of_integers = tuple(int(s) for s in tuple_of_strings)

print("Tuple of strings:", tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

In [185]:
"""30. Merge two tuples."""
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 'a', 'b', 'c')

In [186]:
"""31. Flatten a nested tuple."""
def flatten_tuple(nested_tuple):
    flattened = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened += flatten_tuple(item)
        else:
            flattened += (item,)
    return flattened

nested_tuple = ((1, 2), (3, (4, 5)), (6, 7))

flattened_tuple = flatten_tuple(nested_tuple)

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7)

In [187]:
"""32. Create a tuple of the first 5 prime numbers."""
def is_prime(num):
    if num <= 1:
        return False
    elif num <= 3:
        return True
    elif num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = []
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.append(num)
    num += 1

prime_tuple = tuple(prime_numbers)
print("Tuple of the first 5 prime numbers:", prime_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [188]:
"""33. Check if a tuple is a palindrome."""
def is_palindrome(tuple_to_check):
    return tuple_to_check == tuple_to_check[::-1]

tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print("Is tuple1 a palindrome?", is_palindrome(tuple1))
print("Is tuple2 a palindrome?", is_palindrome(tuple2))

Is tuple1 a palindrome? True
Is tuple2 a palindrome? False

In [189]:
"""34. Create a tuple of squares of numbers from 1 to 5."""
squares_tuple = tuple(i ** 2 for i in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [190]:
"""35. Filter out all even numbers from a tuple."""
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print("Filtered tuple (odd numbers only):", filtered_tuple)

Filtered tuple (odd numbers only): (1, 3, 5, 7, 9)

In [191]:
"""36. Multiply all elements in a tuple by 2."""
original_tuple = (1, 2, 3, 4, 5)

multiplied_tuple = tuple(x * 2 for x in original_tuple)

print("Multiplied tuple:", multiplied_tuple)

Multiplied tuple: (2, 4, 6, 8, 10)

In [194]:
"""37. Create a tuple of random numbers."""
random_tuple = tuple(random.randint(1,100) for _ in range(10))
print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (36, 36, 1, 81, 8, 98, 74, 3, 36, 28)

In [195]:
"""38. Check if a tuple is sorted."""
def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))

# Test cases
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)

print("Is tuple1 sorted?", is_sorted_tuple(tuple1))
print("Is tuple2 sorted?", is_sorted_tuple(tuple2))

Is tuple1 sorted? True
Is tuple2 sorted? False

In [196]:
"""39. Rotate a tuple to the left by `n` positions."""
def rotate_left_tuple(input_tuple, n):
    return input_tuple[n % len(input_tuple):] + input_tuple[:n % len(input_tuple)]

original_tuple = (1, 2, 3, 4, 5)
n = 2

rotated_tuple = rotate_left_tuple(original_tuple, n)
print("Original tuple:", original_tuple)
print("Rotated tuple to the left by", n, "positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple to the left by 2 positions: (3, 4, 5, 1, 2)

In [198]:
"""40. Rotate a tuple to the right by `n` positions."""
def rotate_right_tuple(input_tuple, n):
    return input_tuple[-n % len(input_tuple):] + input_tuple[:-n % len(input_tuple)]

original_tuple = (1, 2, 3, 4, 5)
n = 2

rotated_tuple = rotate_right_tuple(original_tuple, n)
print("Original tuple:", original_tuple)
print("Rotated tuple to the right by", n, "positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple to the right by 2 positions: (4, 5, 1, 2, 3)

In [200]:
"""41. Create a tuple of the first 5 Fibonacci numbers."""
def generate_fibonacci(n):
    fibonacci = [0, 1]
    for i in range(2, n):
        next_fib = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fib)
    return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)

print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [202]:
"""42. Create a tuple from user input."""
user_input = input("Enter elements separated by spaces: ").split()
user_tuple = tuple(user_input)

print("Tuple from user input:", user_tuple)

Enter elements separated by spaces:  Amiya Pani

Tuple from user input: ('Amiya', 'Pani')

In [203]:
"""43. Swap two elements in a tuple."""
def swap_elements(tup, index1, index2):
    temp_list = list(tup)
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
    return tuple(temp_list)

original_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3

swapped_tuple = swap_elements(original_tuple, index1, index2)
print("Original tuple:", original_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Swapped tuple: (1, 4, 3, 2, 5)

In [204]:
"""44. Reverse the elements of a tuple."""
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = original_tuple[::-1]

print("Original tuple:", original_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

In [205]:
"""45. Create a tuple of the first `n` powers of 2."""
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))

n = 5
powers_tuple = powers_of_2(n)

print("Tuple of the first", n, "powers of 2:", powers_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [206]:
"""46. Find the longest string in a tuple of strings."""
def longest_string_in_tuple(string_tuple):
    if not string_tuple:
        return None

    longest_string = string_tuple[0]
    for string in string_tuple[1:]:
        if len(string) > len(longest_string):
            longest_string = string
    return longest_string

string_tuple = ("apple", "banana", "orange", "kiwi", "strawberry", "pineapple")
longest_string = longest_string_in_tuple(string_tuple)

if longest_string:
    print("Longest string in the tuple:", longest_string)
else:
    print("The tuple is empty.")

Longest string in the tuple: strawberry

In [210]:
"""47. Find the shortest string in a tuple of strings."""
def shortest_string_in_tuple(string_tuple):
    if not string_tuple:
        return None

    shortest_string = string_tuple[0]
    for string in string_tuple[1:]:
        if len(string) < len(shortest_string):
            shortest_string = string
    return shortest_string

string_tuple = ("apple", "banana", "orange", "kiwi", "strawberry", "pineapple")
shortest_string = shortest_string_in_tuple(string_tuple)

if shortest_string:
    print("Shortest string in the tuple:", shortest_string)
else:
    print("The tuple is empty.")

Shortest string in the tuple: kiwi

In [211]:
"""48. Create a tuple of the first `n` triangular numbers."""
def triangular_numbers(n):
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

n = 5
triangular_numbers_tuple = triangular_numbers(n)

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [213]:
"""49. Check if a tuple contains another tuple as a subsequence."""
def contains_subsequence(main_tuple, sub_tuple):
    if len(sub_tuple) > len(main_tuple):
        return False
    for i in range(len(main_tuple) - len(sub_tuple) + 1):
        if main_tuple[i:i+len(sub_tuple)] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

if contains_subsequence(main_tuple, sub_tuple):
    print("The main tuple contains the subsequence.")
else:
    print("The main tuple does not contain the subsequence.")

The main tuple contains the subsequence.

In [214]:
"""50. Create a tuple of alternating 1s and 0s of length `n`."""
def alternating_ones_and_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

n = 7
alternating_tuple = alternating_ones_and_zeros(n)

print("Tuple of alternating 1s and 0s of length", n, ":", alternating_tuple)

Tuple of alternating 1s and 0s of length 7 : (1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [215]:
"""1. Create a set with integers from 1 to 5."""
integer_set = set(range(1, 6))

print("Set with integers from 1 to 5:", integer_set)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

In [216]:
"""2. Add an element to a set."""
my_set = {1, 2, 3, 4, 5}
my_set.add(6)

print("Set after adding an element:", my_set)

Set after adding an element: {1, 2, 3, 4, 5, 6}

In [217]:
"""3. Remove an element from a set."""
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)

print("Set after removing an element:", my_set)

Set after removing an element: {1, 2, 4, 5}

In [220]:
"""4. Check if an element exists in a set."""
my_set = {1, 2, 3, 4, 5}

element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [221]:
"""5. Find the length of a set without using the `len()` function."""
my_set = {1, 2, 3, 4, 5}

set_length = 0
for _ in my_set:
    set_length += 1

print("Length of the set:", set_length)

Length of the set: 5

In [222]:
"""6. Clear all elements from a set."""
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print("Set after clearing all elements:", my_set)

Set after clearing all elements: set()

In [223]:
"""7. Create a set of even numbers from 1 to 10."""
even_numbers_set = {num for num in range(1, 11) if num % 2 == 0}

print("Set of even numbers from 1 to 10:", even_numbers_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [224]:
"""8. Create a set of odd numbers from 1 to 10."""
odd_numbers_set = {num for num in range(1, 11) if num % 2 != 0}

print("Set of odd numbers from 1 to 10:", odd_numbers_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

In [225]:
"""9. Find the union of two sets."""
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)

print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

In [226]:
"""10. Find the intersection of two sets."""
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1 & set2

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [227]:
"""11. Find the difference between two sets."""
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1 - set2
difference_set_ = set1.difference(set2)

print("Difference between set1 and set2:", difference_set)
print("Difference between set1 and set2:", difference_set_)

Difference between set1 and set2: {1, 2, 3}
Difference between set1 and set2: {1, 2, 3}

In [228]:
"""12. Check if a set is a subset of another set."""
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)

print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

In [229]:
"""13. Check if a set is a superset of another set."""
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)

print("Is set1 a superset of set2?", is_superset)

Is set1 a superset of set2? True

In [230]:
"""14. Create a set from a list."""
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

print("Set from the list:", my_set)

Set from the list: {1, 2, 3, 4, 5}

In [231]:
"""15. Convert a set to a list."""
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print("List from the set:", my_list)

List from the set: [1, 2, 3, 4, 5]

In [239]:
"""16. Remove a random element from a set."""
import random
my_set = {1, 2, 3, 4, 5}
set_list = list(my_set)
random_element = random.choice(set_list)
my_set.remove(random_element)

print("Removed random element:", random_element)
print("Set after removing random element:", my_set)

Removed random element: 4
Set after removing random element: {1, 2, 3, 5}

In [240]:
"""17. Pop an element from a set."""
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Set after popping element:", my_set)

Popped element: 1
Set after popping element: {2, 3, 4, 5}

In [241]:
"""18. Check if two sets have no elements in common."""
set1 = {1, 2, 3}
set2 = {4, 5, 6}

no_common_elements = set1.isdisjoint(set2)

if no_common_elements:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

In [242]:
"""19. Find the symmetric difference between two sets."""
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference_set = set1.symmetric_difference(set2)

print("Symmetric difference between set1 and set2:", symmetric_difference_set)

Symmetric difference between set1 and set2: {1, 2, 5, 6}

In [243]:
"""20. Update a set with elements from another set."""
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [246]:
"""21. Create a set of the first 5 prime numbers."""
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_set = set()
count = 0
num = 2
while count < 5:
    if is_prime(num):
        prime_set.add(num)
        count += 1
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [249]:
"""22. Check if two sets are identical."""
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [250]:
"""23. Create a frozen set."""
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [253]:
"""24. Check if a set is disjoint with another set."""
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

In [254]:
"""25. Create a set of squares of numbers from 1 to 5."""
squares_set = {x**2 for x in range(1, 6)}

print("Set of squares of numbers from 1 to 5:", squares_set)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

In [255]:
"""26. Filter out all even numbers from a set."""
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {x for x in original_set if x % 2 != 0}

print("Filtered set with even numbers removed:", filtered_set)

Filtered set with even numbers removed: {1, 3, 5, 7, 9}

In [256]:
"""27. Multiply all elements in a set by 2."""
original_set = {1, 2, 3, 4, 5}
new_set = {x * 2 for x in original_set}

print("Original set:", original_set)
print("New set with elements multiplied by 2:", new_set)

Original set: {1, 2, 3, 4, 5}
New set with elements multiplied by 2: {2, 4, 6, 8, 10}

In [257]:
"""28. Create a set of random numbers."""
import random
random_set = {random.randint(1, 100) for _ in range(5)}

print("Set of random numbers:", random_set)

Set of random numbers: {48, 50, 93, 62}

In [258]:
"""29. Check if a set is empty."""
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [259]:
"""30. Create a nested set (hint: use frozenset)."""
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({'c', 'a', 'b'})}

In [260]:
"""31. Remove an element from a set using the discard method."""
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)

print("Set after removing element 3:", my_set)

Set after removing element 3: {1, 2, 4, 5}

In [264]:
"""32. Compare two sets."""
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 3, 4}
set4 = {1, 2}

# Check if set1 and set2 are equal
print("Are set1 and set2 equal?", set1 == set2)

# Check if set1 is a subset of set3
print("Is set1 a subset of set3?", set1 < set3)

# Check if set3 is a subset of set4
print("Is set3 a superset of set4?", set3 < set4)

Are set1 and set2 equal? True
Is set1 a subset of set3? True
Is set3 a superset of set4? False

In [265]:
"""33. Create a set from a string."""
my_string = "hello world"
my_set = set(my_string)

print("Set from the string:", my_set)

Set from the string: {' ', 'r', 'w', 'h', 'd', 'l', 'e', 'o'}

In [266]:
"""34. Convert a set of strings to a set of integers."""
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}

print("Set of integers:", set_of_integers)

Set of integers: {1, 2, 3, 4, 5}

In [267]:
"""35. Convert a set of integers to a set of strings."""
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}

print("Set of strings:", set_of_strings)

Set of strings: {'4', '2', '5', '1', '3'}

In [268]:
"""36. Create a set from a tuple."""
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print("Set from the tuple:", my_set)

Set from the tuple: {1, 2, 3, 4, 5}

In [270]:
"""37. Convert a set to a tuple."""
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

print("Tuple from the set:", my_tuple)

Tuple from the set: (1, 2, 3, 4, 5)

In [271]:
"""38. Find the maximum value in a set."""
my_set = {1, 3, 5, 7, 9}
max_value = max(my_set)

print("Maximum value in the set:", max_value)

Maximum value in the set: 9

In [272]:
"""39. Find the minimum value in a set."""
my_set = {1, 3, 5, 7, 9}
min_value = min(my_set)

print("Minimum value in the set:", min_value)

Minimum value in the set: 1

In [275]:
"""40. Create a set from user input."""
user_set = set()
user_input = input("Enter the string")
user_set=set(user_input.split())
print("Set created from user input:", user_set)

Enter the string Amiya amiya Amiya

Set created from user input: {'amiya', 'Amiya'}

In [276]:
"""41. Check if the intersection of two sets is empty."""
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is empty.

In [277]:
"""42. Create a set of the first 5 Fibonacci numbers."""
def fibonacci(n):
    fib_set = set()
    a, b = 0, 1
    for _ in range(n):
        fib_set.add(a)
        a, b = b, a + b
    return fib_set

fib_set = fibonacci(5)

print("Set of the first 5 Fibonacci numbers:", fib_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [278]:
"""43. Remove duplicates from a list using sets."""
original_list = [1, 2, 3, 3, 4, 5, 5, 6, 6, 7]
unique_list = list(set(original_list))

print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5, 6, 7]

In [279]:
"""44. Check if two sets have the same elements, regardless of their count."""
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}
set3 = {1, 2, 3, 4, 4}

if set1 == set2:
    print("set1 and set2 have the same elements.")
else:
    print("set1 and set2 do not have the same elements.")

if set1 == set3:
    print("set1 and set3 have the same elements.")
else:
    print("set1 and set3 do not have the same elements.")

set1 and set2 have the same elements.
set1 and set3 have the same elements.

In [280]:
"""45. Create a set of the first `n` powers of 2."""
n = 5
powers_of_2_set = {2 ** i for i in range(n)}

print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [281]:
"""46. Find the common elements between a set and a list."""
my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]
common_elements = my_set.intersection(my_list)

print("Common elements:", common_elements)

Common elements: {4, 5}

In [282]:
"""47. Create a set of the first `n` triangular numbers."""
n = 5
triangular_numbers_set = {(i * (i + 1)) // 2 for i in range(1, n + 1)}

print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [284]:
"""48. Check if a set contains another set as a subset."""
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [288]:
"""49. Create a set of alternating 1s and 0s of length `n`."""
n = 5
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

print("Set of alternating 1s and 0s of length", n, ":", alternating_set)

Set of alternating 1s and 0s of length 5 : {0, 1}

In [290]:
"""50. Merge multiple sets into one."""
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}